@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto:ital@1&display=swap');
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;
$mediaInit: 0px;
$myStartWidth: 0;
$myEndWidth: 24%;

body {
  margin: 0;
}
.container {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
}
@media (max-width: 500px) {
  $myEndWidth: 50%;
}

@media (max-width: 990px) {
  $myEndWidth: 50%;
}